<!DOCTYPE html>
<html lang="en" ng-app="trivium">
  <head ng-controller="MetaTagsController">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- application meta tags -->
    <meta name="title" content="{{meta.title}}" />
    <meta name="description" content="{{meta.description}}" />
    <meta name="keywords" content="{{meta.keywords}}" />
    <meta name="author" content="{{meta.author}}" />
    <meta name="version" content="{{meta.version}}" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/styles.css" />

    <title>{{meta.title}}</title>
  </head>
  <body ng-controller="AppController">

    <!-- app-container-div -->
    <div class="container h-100">

      <!-- app-title-row -->
      <div class="row top-margin-25">
        <div class="col">
          <h1>{{ appTitle }}</h1>
          <h3>{{ appDescription }}</h3>
        </div>
      </div>
      <!-- end-app-title-row -->

      <!-- begin-quiz-questions-row -->
      <div class="row" id="quiz-div" ng-show="showQuiz()">

        <!-- quiz-questions-col -->
        <div class="col">

          <!-- quiz-questions-display-row -->
          <div class="row">

            <!-- quiz-questions-div -->
            <div class="col">
              <div class="jumbotron my-auto jumbotron-min-height-325 alert-primary">
                <!-- holder for the question text -->
                <div class="questions">
                  <p class="small-text" id="questionCategory"><span class="question-category">{{ htmlDecode(currentQuestion.category) }}</span> | {{ currentQuestion.difficulty }}</p>
                  <h3 id="questionText">{{ htmlDecode(currentQuestion.question) }}</h3>
                </div>
              </div>
              <hr />
            </div>
            <!-- end-quiz-questions-div -->

            <!-- quiz-stats-div -->
            <div class="col-3">
              <div class="jumbotron my-auto jumbotron-min-height-325 alert-success">
                <h4>Quiz Results</h3>
                <table class="game-results-div">
                  <tr>
                    <td>Quiz</td>
                    <td>{{ currentQuestionSet + 1 }} of {{ questionSets.length }}</td>
                  <tr>
                    <td>Question</td>
                    <td>{{ currentQuestionIndex + 1 }} of {{ questions.length }}</td>
                  </tr>
                  <tr>
                    <td>Correct</td>
                    <td>{{ numberCorrect }}</td>
                  </tr>
                  <tr>
                    <td>Incorrect</td>
                    <td>{{ numberIncorrect }}</td>
                  </tr>
                  <tr>
                    <td>Score</td>
                    <td>{{ score + "%" }}</td>
                  </tr>
                </table>
                <hr />
                  <button class="btn btn-secondary" ng-click="endQuizAndGame()">Show Game Results</button>
              </div>
            </div>
            <!-- end-quiz-stats-div -->

          </div>
          <!-- end-quiz-questions-display-row -->

          <!-- begin-quiz-answers-display-row -->
          <div class="row">

            <!-- begin-answers-display-col -->
            <div class="col">
                <ul class="ul-no-bullets">
                  <li ng-repeat="a in currentQuestion.answers">
                    <input type="radio" title="{{a}}" id="{{a}}" value="{{a}}" name="answers" ng-click="checkAnswer(a)" />
                    <label>{{ htmlDecode(a) }}</label>
                  </li>
                </ul>
                <div id="response-alert" class="col">
                </div>
            </div>
            <!-- end-answers-display-col -->
            
          </div>
          <!-- end-quiz-answers-display-row -->

        </div>
        <!-- end-quiz-questions-col -->

      </div>
      <!-- end-quiz-questions-row -->

      <!-- begin-quiz-results-row -->
      <div class="row" id="results-div" ng-show="showResults()">
        
        <!-- begin-quiz-results-col -->
        <div class="col">

          <!-- begin-results-display-row -->
          <div class="row">

            <!-- begin-results-display-col -->
            <div class="col">

              <!-- begin-results-jumbotron -->
              <div class="jumbotron my-auto jumbotron-min-height-325">
                <h3>Results</h3>
                <p>
                  You scored {{ score + "%" }} out of {{ questions.length }} questions.
                </p>
                <p>
                  <button class="btn btn-secondary" ng-click="restartQuiz()">Retake</button>
                  <button class="btn btn-primary" ng-show="!isLastQuiz()" ng-click="nextQuiz()">Next Quiz</button>
                </p>
              </div>
              <!-- end-results-jumbotron -->

            </div>
            <!-- end-results-display-col -->

            <!-- begin-results-stats-col-3 -->
            <div class="col-3">

              <!-- begin-results-stats-jumbotron -->
              <div class="jumbotron my-auto jumbotron-min-height-325 alert-success">
                <h4>Quiz Stats</h3>
                <table class="game-results-div">
                  <tr>
                    <td>Quiz</td>
                    <td>{{ currentQuestionSet + 1 }} of {{ questionSets.length }}</td>
                  <tr>
                    <td>Question</td>
                    <td>{{ currentQuestionIndex + 1 }} of {{ questions.length }}</td>
                  </tr>
                  <tr>
                    <td>Correct</td>
                    <td>{{ numberCorrect }}</td>
                  </tr>
                  <tr>
                    <td>Incorrect</td>
                    <td>{{ numberIncorrect }}</td>
                  </tr>
                  <tr>
                    <td>Score</td>
                    <td>{{ score + "%" }}</td>
                  </tr>
                </table>
                <hr />
                <button class="btn btn-secondary" ng-click="endGame()">Show Results</button>
              </div>
              <!-- end-results-stats-jumbotron -->

            </div>
            <!-- end-results-stats-col-3 -->

          </div>
          <!-- end-quiz-results-display-row -->

        </div>
        <!-- end-quiz-results-col -->

      </div>
      <!-- end-quiz-results-row -->

      <!-- begin-game-results-row -->
      <div class="row" id="game-results-div" ng-show="showGameResults()">

        <!-- begin-game-results-col -->
        <div class="col">

          <!-- begin-game-results-jumbotron -->
          <div class="jumbotron my-auto jumbotron-min-height-325">
            <h3>Game Results</h3>
              <table class="game-results-table" ng-repeat="quiz in quizResults">
                <tr>
                  <td>Quiz</td>
                  <td>{{ quiz.id + 1 }}</td>
                <tr>
                  <td>Number of Questions</td>
                  <td>{{ quiz.questions.length }}</td>
                </tr>
                <tr>
                  <td>Correct</td>
                  <td>{{ quiz.numberCorrect }}</td>
                </tr>
                <tr>
                  <td>Incorrect</td>
                  <td>{{ quiz.numberIncorrect }}</td>
                </tr>
                <tr>
                  <td>Score</td>
                  <td>{{ quiz.score + "%" }}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr />
                  </td>
                </tr>
              </table>
              <p>
                <button class="btn btn-primary" ng-click="restartGame()">Restart Game</button>
              </p>
          </div>
          <!-- end-game-results-jumbotron -->

        </div>
        <!-- end-game-results-col -->

      </div>
      <!-- end-game-results-row -->

    </div>
    <!-- end-app-container-div -->
      

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Optional JavaScript -->
    <script src="./js/app.js" type="module"></script>
  </body>
</html>
