<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/styles.css" />

    <title>Trivium</title>
  </head>
  <body ng-app="trivium" ng-controller="AppController">
    <div class="container h-100">
      <div class="row top-margin-25">
        <div class="col">
          <h1>{{ appName }}</h1>
          <h3>{{ appDescription }}</h3>
        </div>
      </div>
      <div class="row" id="quiz-div" ng-show="showQuiz()">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="jumbotron my-auto jumbotron-min-height-250">
                <!-- holder for the question text -->
                <div class="questions">
                  <h3 id="questionText">{{ htmlDecode(currentQuestion.question) }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
               <p class="small-text" id="questionCategory">Current Question:  {{ currentQuestionIndex + 1 }} of {{ questions.length }} | Category: {{ htmlDecode(currentQuestion.category) }} | Difficulty: {{ currentQuestion.difficulty }} | Type: {{ currentQuestion.type }} | No. Correct: {{ numberCorrect }} | Current Quiz: {{ currentQuestionSet + 1 }} of {{ questionSets.length }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col top-margin-10">
              <p>
                <ul class="ul-no-bullets">
                  <li ng-repeat="a in currentQuestion.answers">
                    <input type="radio" title="{{a}}" id="{{a}}" value="{{a}}" name="answers" ng-click="checkAnswer(a)" />
                    <label>{{ htmlDecode(a) }}</label>
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="results-div" ng-show="showResults()">
        <div class="col">
          <div class="jumbotron my-auto jumbotron-min-height-250">
            <h3>Results</h3>
            <p>
              You scored {{ score + "%" }} out of {{ questions.length }} questions.
            </p>
            <div class="row">
              <div class="col">
              <button class="btn btn-secondary" ng-click="restartQuiz()">Retake</button>
              <button class="btn btn-primary" ng-show="!isLastQuiz()" ng-click="nextQuiz()">Next Quiz</button>
              </div>
                <div class="col">
                  <button class="btn btn-success" ng-show="isLastQuiz()" ng-click="restartGame()">Restart Game</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
      

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Optional JavaScript -->
    <script src="./js/app.js" type="module"></script>
  </body>
</html>
