.top-margin-10 {
  margin-top: 10px;
}

.top-margin-25 {
  margin-top: 25px;
}

.center-text {
  text-align: center;
}

.top-margin-40 {
  margin-top: 40px;
}

.top-margin-50 {
  margin-top: 50px;
}

.jumbotron-min-height-250 {
  min-height: 250px;
}
